<!--To do:
Add deck stack
Add display for current card
Add rock paper scissors game (might change this decision criterion to just be random choice by computer, lazy to add r/p/s interface)
Add Stat choice submit state
Add win state
Add defeat state-->
<p><%=gameState%></p>
<%-include("partials/footer.ejs")%>